extends ./base.jade
block append style
    link(rel="stylesheet", type="text/css", href="/assets/style.css")
block body
  nav
    a(href="/login")
      img#logo(src="/assets/img/face.png", alt="face logo")
    .navlink
      a(href="/logout") Log out
  section#items

    each val in data
        div.item
            h3.domoName Name: #{val.name}
            h3.domoAge Age: #{val.age}
			input#add(type="button", value="add")
block scripts
        script(src="/assets/maker.js")