extends ./base.jade
block append style
	link(rel="stylesheet", type="text/css", href="/assets/style.css")
block body
	nav
		.navlink
			a(href="/list") List
		.navlink
			a(href="/cart") Cart
	section#data

		h2 ${data.name}
		p.
			Description: ${data.description}
		p.
			Price: ${data.price}
		a(href="/add/"+data.name) Add to cart
block scripts
		script(src="/assets/maker.js")