extends ./base.jade
block append style
	link(rel="stylesheet", type="text/css", href="/assets/style.css")
block body
	nav
		.navlink
			a(href="/list") List
		.navlink
			a(href="/cart") Cart
	section#data
		table
			thead
				th Name
				th Price
				th Add to cart
			tbody
				each val in data
					tr.item
						td.name 
							a(href="/item/"+val.name) #{val.name}
						td.price 
							span #{val.price}
						td
							a(href="/add/"+val.name) add
block scripts
		script(src="/assets/maker.js")